/*
:root pra salvar as cores
*/

/* Index */
.margemRow{
    margin-top: 120px;
}

.margemRowDois{
    margin-top: 200px;
}

.fontAmatic{
    font-family: 'Amatic SC', sans-serif;
}

.fontLobster{
    font-family: 'Lobster', sans-serif;
}

.alinharEsquerda{
    text-align: right;
}
/* Fim Index */

/* Nav e footer */
.margemInferior{
    margin-bottom: 50px;
}
/* fim Nav e footer */


/* Resumo escrito */
.margemTopicos{
    margin-top: 70px;
}

.margemImagem{
    margin-bottom: 30px;
}

.destacarTexto{
    color: var(--cor_destaque);
}

.fontNegrito{
    font-weight: bold;
}

.margemSubTopicos{
    margin-top: 30px;
}

table, th, td{
    border: 3px solid #6E526C;
}

th, td{
    text-align: center;
}

th{
    font-size: 30px;
    background-color: #6E526C;
    font-family: 'Lobster', sans-serif;
    color: white;
}

.celulaRoxa{
    background-color: #DEC9D0;
}

.alinharTabela{
    display: flex;
    justify-content: center;
}
/* Fim Resumo escrito*/
body{
    background-color: #FEF9FB;
}

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor_destaque: #CB874A; 
    --cor_roxo2: #6E526C;
    --cor_branco: white;
}

.container{
    width: 80%;
    margin:auto;
}

header,footer{
    background-color: var(--cor_roxo2);  
}

nav{
    padding-top: 20px;
    padding-bottom: 15px;
    background-color: var(--cor_roxo2);
    width: 1200px;
    margin: auto;
}

.nav-item, #name_menu{
margin-left: 30px;
}

.nav-item a{
color: black;
font-family: 'Ubuntu', sans-serif;
font-size: 16px;
line-height: 18px;
font-weight: normal;
text-decoration: none;
}

#name_menu{
    text-decoration: none;
    color: var(--cor_destaque);
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
   
}

.flex{
    display: flex;
    flex-direction: row-reverse; /*enquanto não tem logo*/
}

/*.decoracaoTitulos{
    font-family: 'Lobster';
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
}*/

.corBranco{
    color: var(--cor_branco);
}
.cltitulo{
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    background: #DEC9D0;
    
}


.cl_style{
    background-color: #937285;
    box-shadow: -24px 24px 1px #7F968E;
    padding: 50px 40px;
    border-radius: 15px;
}

