{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %} Cadastre questão {% endblock %}

{% block conteudo %}
<style>
    .bnt_style {
        background-color: #DEC9D0;
        border: none;
        text-transform: uppercase;
        color: rgb(59, 59, 59);
    }
    table a{
        text-decoration: none;
        color: rgb(32, 32, 32);
    }
</style>

<div class="row">
    <div class="col-6 mb-5" style="padding: 0% 5%;">
        <h1 class="fontAmatic mt-4">Adicione nova questão</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <!--para ficar em bloco  /  coluna-->
            <input type="submit" class="btn btn-success bnt_style" value="Criar Tarefa">
        </form>
    </div>
    <!-- LISTAGEM -->
    <div class="col-6 pr-0 pl-0" style="background-color: #DEC9D0 ;">
        <div class="p-5">
            <!--LISTAGEM-->
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li {% if message.tags %} class = 'alert alert-{{message.tags}}' {% endif %}> {{ message }} </li>
                {% endfor %}
                </ul>
            {% endif %}
            <table class="table table-striped tablelist tablelist">
                {% for questao in questoes %}
                <tr>
                    <td><span>{{questao.pergunta}}</span></td>
                    <td><a class="delete-btn" href="{% url 'deletequestao' questao.id %}"><span><i class="fas fa-trash"></i></span></a></td>
                    <td><a href="{% url 'editquestao' questao.id %}"><span><i class="fas fa-edit"></i></span></a></td>
                </tr>
                {% endfor %}
            </table>
            <div class="pagination">
                <!--Pagina Antes-->
                <span class="step-links">
                    {% if questoes.has_previous %}
                    <!--se tenho pagina anterior [...]-->
                    <a href="?page={{ questoes.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
                    {% endif %}
               
                    <span class="current">
                        <!--Durante-->
                        {{ questoes.number }} de {{ questoes.paginator.num_pages }}
                    </span>
         
                    <!--Pagina Depois-->
                    {% if questoes.has_next %}
                    <a href="?page={{ questoes.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
                    {% endif %}
                </span>
            </div>
        
        </div>
    </div>
</div>



{% endblock conteudo %}