{% extends 'base.html' %}
{% load static %}

{% block titulo %} Cadastre questão {% endblock %}

{% block conteudo %}
<style>
    .bnt_style{
        background-color: #DEC9D0;
        border: none;
        text-transform: uppercase;
        color: rgb(59, 59, 59);
    }
</style>

<div class="row">
    <div class="col-6" style="padding: 0% 5%;">
        <h1 class="fontAmatic mt-4">Adicione nova tarefa</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }} <!--para ficar em bloco  /  coluna-->
            <input type="submit" class="btn btn-success bnt_style" value="Criar Tarefa">
        </form>
    </div>
    <div class="col-6 pr-0 pl-0">
        <img class="img-fluid" src="{% static 'img/addquestao.png' %}" alt="">
    </div>
</div>



{% endblock conteudo %}