{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %} Atividade {% endblock %}

{% block conteudo %}
<style>
    .flexquestoes {
        display: flex;
        flex-direction: column;
    }

    .margem {
        width: 60%;
        margin: auto;
    }

    .bnt_style {
        background-color: #CB874A;
        border: none;
        text-transform: uppercase;
        color: #f5f5f5;
    }
</style>
<div class="container p-5 margem">
    <div class="text-center">
        <h1 class="fontLobster">Simple Past</h1>
        <h2 class="fontAmatic" style="color: rgb(88, 88, 88);">Atividade</h2>
    </div>
    {% for questao in questoes %}

    <!--base de dados para receber-->

    <div class="question-box pr-5 pl-5">
        <div class="question-text ">
            <p>{{ questao.pergunta }}</p>
        </div>
        <div class="question-answers flexquestoes ">
            <div>
                <p>a) {{questao.alternativaa}}</p>
                <p>b) {{questao.alternativab}}</p>
            </div>
            {% if questao.alternativac %}
            <div>
                <p>c) {{questao.alternativac}}</p>
            </div>
            {% endif %}
            {% if questao.alternativad %}
            <div>
                <p>a) {{questao.alternativad}}</p>
            </div>
            {% endif %}
            <!--form receber resposta-->
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-success bnt_style mb-2" type="submit" value="Responder">
            </form>
        </div>
    </div>

    {% endfor %}
    <!--<input  class="btn btn-success bnt_style" type="submit" value="Responder">-->



</div>

{% endblock conteudo %}