{% extends 'base.html' %}
{% load static %}

{% block titulo %} Cadastre-se {% endblock %}

{% block conteudo %}
<style>
    .bnt_style{
        background-color: #CB874A;
        border: none;
        text-transform: uppercase;
        color: #f8f4f4;
        width: 100%;
    }
</style>
<div class="row  ml-0 mr-0 pr-0">
    <div class="col-6" style="padding: 0% 5%;">
        <div class="cl_style m-5"> <!--para css-->
            <h2 class="cltitulo text-center">Efetue Cadastro</h2>
            <div class="form-group mt-5">
                <label for="" class="fontNegrito">Nome:</label>
                <input class="form-control" type="text">
            </div>
            <div class="form-group">
                <label for="" class="fontNegrito">E-mail:</label>
                <input class="form-control" type="text">
            </div>
            <div class="form-group">
                <label for="" class="fontNegrito">Senha:</label>
                <input class="form-control" type="text">
            </div>
            <div class="form-group">
                <label for="" class="fontNegrito">Repetir senha:</label>
                <input class="form-control" type="text">
            </div>
            <div class="text-center">
                <p class="pt-1 pb-3 fontNegrito">Já esta registrado? | <a style="color: rgb(231, 231, 231) ;" href="{% url 'entrar' %}">Entrar</a></p>
                <a class="btn btn-primary mb-3 bnt_style fontNegrito" href="{% url 'index' %}" role="button">cadastrar</a>
            </div>
        </div><!--para css-->
    </div>
    <div class="col-6 pr-0 pl-0">
        <img class="img-fluid" src="{% static 'img/img_cadastro.png' %}" alt="">
    </div>
</div>
{% endblock conteudo %}