{% extends 'base.html' %}
{% load static %}

{% block titulo %} Sobre {% endblock %}
{% block conteudo %}
<style>
    body{
        background-color: #DEC9D0 ;
    }
    .flex{
    display: flex;
    flex-direction: column;    
    }
    .bnt_style{
        border-radius: 30px;
        background-color: #533C59;
        border: none;
      
    }
    h1{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        color: #CB874A;
    }
    .menu_style{
        background-color: #6E526C;
        margin-top: 90px;
        margin-bottom: 200px;
        width: 700px;
        padding: 30px 60px 30px 60px;
        box-shadow: -24px 24px 1px #CB874A;
    }
    
</style>

<div class="container col-6 text-center menu_style">
    <div class="flex">
        <h1 class="mb-3">Menu</h1>
        <a class="btn btn-primary mb-3 bnt_style" style="background-color: #CB874A;" href="#" role="button">Mapa principal</a>
        <a class="btn btn-primary mb-3 bnt_style" href="{% url 'resumo' %}" role="button">Tela Resumo</a>
        <a class="btn btn-primary mb-3 bnt_style" href="{% url 'mapa_mental' %}" role="button">Tela Mapa Resumido</a>
        <a class="btn btn-primary mb-3 bnt_style" href="#" role="button">Atividades</a>
    </div>
</div>
{% endblock conteudo %}