{% extends 'base.html' %}
{% load static %}

{% block titulo %} Resumo {% endblock %}

{% block conteudo %}
<style>
    .estilizacaoTopicos {
        font-family: 'Architects Daughter';
        font-weight: 400;
        font-size: 23px;
        color: #FEF9FB;
        background-color: #6E526C;
        padding: 3px 5px;
        display: flex;
        justify-content: center;
    }
    table, th, td{
        border: 3px solid #6E526C;
    }
    th, td{
    text-align: center;
    }

    th{
        font-size: 30px;
        background-color: #6E526C;
        font-family: 'Lobster', sans-serif;
        color: white;
    }
</style>
<div class="container">
    <img class="margemRow img-fluid" src="{% static 'img/barraResumo.png' %}" width="100%"
        alt="Imagem que denomina o conteúdo do resumo ' Simple Past Resuminho' ">

    <!-- Tópico 1 -->
    <section>
        <div class="row margemTopicos ">
            <div class="col-5">
                <h2 class="estilizacaoTopicos">Para que serve o Simple Past?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                <p>O Simple Past é utilizado para definir algo que já aconteceu e já acabou em um <span
                        class="destacarTexto">passado definido</span>, ou seja, um momento determinado. De maneira mais
                    objetiva, é utilizado para dizer que algo aconteceu e não está mais acontecendo. </p>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <p>Exemplo 1:</p>
            </div>
            <div class="col-6">
                <p>I help <span class="destacarTexto">ed</span> Carlos <span class="destacarTexto">last week</span>.
                </p>
                <p>(Eu ajudei o Carlos semana passada.)</p>
            </div>
        </div>

        <div class="row">
            <div class="col-9">
                <p>Perceba que na frase acima, o verbo foi conjugado no passado (adicionando-se a terminação <span
                        class="destacarTexto">-ed</span>) e foi especificado o momento em que o sujeito ajudou Carlos
                    (<span class="destacarTexto">last week</span>)</p>
            </div>
        </div>

        <div class="row">
            <div class="col-9">
                <p>O Simple Past é dividido em três formas, chamadas de <span class="destacarTexto">afirmativa
                        (Affirmative Form)</span>, <span class="destacarTexto">negativa
                        (Negative Form)</span> e <span class="destacarTexto">interrogativa (Interrogative Form)</span>.
                </p>
            </div>
        </div>
    </section>


    <!-- Tópico 2 -->
    <section>
        <div class="row margemTopicos">
            <div class="col-6">
                <h2 class="estilizacaoTopicos">Forma Afirmativa (Affirmative Form)</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-9">
                <p>Adicionam-se as terminações <span class="destacarTexto">-d</span>, <span
                        class="destacarTexto">-ed</span>
                    ou <span class="destacarTexto">-ied</span> dependendo da
                    situação.</p>
            </div>
        </div>

        <div class="row margemSubTopicos">
            <div class="col-9">
                <p class="fontNegrito">-- Se o verbo não terminar com a letra <span class="destacarTexto">“E”</span>,
                    deve-se acresentar o <span class="destacarTexto">-ed</span>, como nos exemplos a seguir:</p>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <p>Exemplo 2:</p>
            </div>
            <div class="col-4">
                <p>She work<span class="destacarTexto">ed</span>(work) hard yesterday.</p>
                <p>(Eu ajudei o Carlos semana passada.)</p>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <p>Exemplo 3:</p>
            </div>
            <div class="col-4">
                <p> Claudio help<span class="destacarTexto">ed</span> (help) me last week.</p>
                <p>(Eu ajudei o Carlos semana passada.)</p>
            </div>
        </div>

        <div class="row margemSubTopicos">
            <div class="col-9">
                <p class="fontNegrito">-- Se o verbo terminar com a letra <span class="destacarTexto">“E”</span>,
                    deve-se adicionar apenas o <span class="destacarTexto">-d</span>:</p>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <p>Exemplo 4:</p>
            </div>
            <div class="col-4">
                <p>She dance<span class="destacarTexto">d</span> (Dance) at the club yesterday.</p>
                <p>(Ela dançou na balada ontem.)</p>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <p>Exemplo 5:</p>
            </div>
            <div class="col-4">
                <p>He love<span class="destacarTexto">d</span> (Love) the yesterday test.</p>
                <p>(Ele amou o teste de ontem.)</p>
            </div>
        </div>

        <div class="row margemSubTopicos">
            <div class="col-9">
                <p class="fontNegrito">-- Verbos terminados com a letra Y depois de uma consoante devem ser acrescidos
                    da terminação <span class="destacarTexto">-ied</span>, retirando-se o Y:</p>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <p>Exemplo 6:</p>
            </div>
            <div class="col-4">
                <p>I stud<span class="destacarTexto">ied</span> (Study) yesterday.</p>
                <p>(Eu estudei ontem.)</p>
            </div>
        </div>

        <div class="row margemSubTopicos">
            <div class="col-9">
                <p class="fontNegrito">-- Se o verbo termina com a letra Y depois de uma vogal, adiciona-se a terminação
                    <span class="destacarTexto">-ed</span>, mantendo o Y:</p>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <p>Exemplo 7:</p>
            </div>
            <div class="col-4">
                <p>Arthur sta<span class="destacarTexto">yed</span> (Stay) alert last week.</p>
                <p>(Arthur manteve-se alerta na semana passada.)</p>
            </div>
        </div>

        <div class="row margemSubTopicos">
            <div class="col-9">
                <p class="fontNegrito">-- Verbos terminadas com o conjunto <span class="destacarTexto">Consoante - Vogal
                        - Consoante (CVC)</span> são conjugados duplicado-se a última letra e acrescentando-se a
                    terminação em <span class="destacarTexto">-ed</span></p>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <p>Exemplo 8:</p>
            </div>
            <div class="col-4">
                <p>We plan<span class="destacarTexto">ned</span> (Plan) the trip last week.</p>
                <p>(Planejamos a viagem na semana passada.)</p>
            </div>
        </div>

        <div class="row margemSubTopicos">
            <div class="col-9">
                <p class="fontNegrito">-- Para verbos que são considerados irregulares, segue-se a forma afirmativa
                    padrão: <span class="destacarTexto">Sujeito</span> + <span class="destacarTexto">Verbo</span>. Porem
                    o verbo <span class="destacarTexto">sofre flexão.</span></p>
            </div>
        </div>

        <div class="row">
            <div class="col-9">
                <p>Segue abaixo lista de alguns dos verbos irregulares mais utilizados:</p>
            </div>
        </div>

        <!-- Tabela do tópico 2 -->
        <div class="row alinharTabela">
            <div class="col-5"> 
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Verbo</th>
                            <th scope="col">Simple Past</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="celulaRoxa">
                            <td>to be</td>
                            <td>was/were</td>
                        </tr>
                        <tr>
                            <td>to become</td>
                            <td>became</td>
                        </tr>
                        <tr class="celulaRoxa">
                            <td>to begin</td>
                            <td>began</td>
                        </tr>
                        <tr>
                            <td>to break</td>
                            <td>broke</td>
                        </tr>
                        <tr class="celulaRoxa">
                            <td>to buy</td>
                            <td>bought</td>
                        </tr>
                        <tr>
                            <td>to go</td>
                            <td>went</td>
                        </tr>
                        <tr class="celulaRoxa">
                            <td>to eat</td>
                            <td>ate</td>
                        </tr>
                        <tr>
                            <td>to fly</td>
                            <td>flew</td>
                        </tr>
                        <tr class="celulaRoxa">
                            <td>to sit</td>
                            <td>sat</td>
                        </tr>
                        <tr>
                            <td>to write</td>
                            <td>wrote</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <!-- Tópico 3 -->
    <section>
        <div class="row margemTopicos">
            <div class="col-5">
                <h2 class="estilizacaoTopicos">Forma Negativa (Negative Form)</h2>
            </div>
        </div>

        <div class="row margemSubTopicos">
            <div class="col-9">
                <p class="fontNegrito">Para a forma negativa, apenas adicionaremos o seguinte conjunto <span
                        class="destacarTexto">“did not”</span> na seguinte estrutura: <span
                        class="destacarTexto">Sujeito</span> + <span class="destacarTexto">did not</span> + <span
                        class="destacarTexto">verbo</span>.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-9">
                <p>Exemplos:</p>
                <p>Dance -> I (Sujeito) <span class="destacarTexto">did not</span> dance (Verbo).</p>
                <p>Play -> I (Sujeito) <span class="destacarTexto">did not</span> play (Verbo).</p>
                <p>Cry -> I (Sujeito) <span class="destacarTexto">did not</span> cry (Verbo).</p>
            </div>
        </div>
    </section>

    <!-- Tópico 4 -->
    <section class="margemInferior">
        <div class="row margemTopicos">
            <div class="col-6">
                <h2 class="estilizacaoTopicos">Forma Interrogativa (Interrogative Form)</h2>
            </div>
        </div>

        <div class="row margemSubTopicos">
            <div class="col-9">
                <p class="fontNegrito">Para a forma interrogativa, faremos o uso do <span
                        class="destacarTexto">“did”</span> e da interrogação <span class="destacarTexto">“?”</span> na
                    seguinte estrutura: <span class="destacarTexto">Did</span> + <span
                        class="destacarTexto">sujeito</span> + <span class="destacarTexto">verbo</span> + <span
                        class="destacarTexto">interrogação (?)</span>.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-9">
                <p>Exemplos:</p>
                <p>Dance -> <span class="destacarTexto">Did</span> I dance?</p>
                <p>Play -> <span class="destacarTexto">Did</span> I play?</p>
                <p>Cry -> <span class="destacarTexto">Did</span> i cry?</p>
            </div>
        </div>
    </section>

</div>

<span class="destacarTexto"></span>
{% endblock %}