{% extends 'base.html' %}
{% load static %}

{% block titulo %} Sobre {% endblock %}

{% block conteudo %}
<style>
    body{
        background-color: #937285;
    }
    .style_sobre{
        height: 400px;
        padding-top: 60px;
    }
 
 
</style>
<div class="text-center">

    <div class="container-fluid style_sobre" style="background-color: #fff;">
        <div class="container">
            <hr>
            <h1 class="fontLobster">Sobre o site</h1>
            <p class="pb-5">O propósito do “nome do site” é oferecer uma forma de aprendizagem totalmente autônoma para o estudante, na qual ele pode seguir com seu próprio ritmo de aprendizado, seja lendo sobre o conteúdo ou fazendo as atividades. Servindo então como uma forma de concentrado, onde o estudante terá, em apenas um local, o conteúdo propriamente dito, resumos e exercícios para fixação, tudo de uma forma mais lúdica e didática.</p>
            <hr>
        </div><!--conteudo-->
    </div><!--Fim div sobre o site-->

    <div class="container-fluid style_sobre" >
        <div class="container">  
            <hr>     
            <h1 class="fontLobster">Sobre nós</h1>
            <p class="pt-5">Olá, nós somos  João Pedro e Maria Gabriella. Assim como você, nós somos estudantes dedicados e não gostamos de perder conteúdo. Com esse intuito, criamos essa plataforma para que os alunos possam rever e fixar os conteúdos vistos em sala de aula a respeito da gramática da língua inglesa. Feito com o coração, de estudantes para estudantes.</p>
            <hr> 
        </div>
    </div><!--FIM div Sobre nos-->

</div><!--FIMdiv pagina inteira-->


{% endblock conteudo%}